{% extends 'layout.twig' %}

{% block content %}
<div class="well col-md-9">
  {{ form_start(form)}}
    <div class="form-group">
      {{ form_label(form.nombre) }}
      {{ form_widget(form.nombre,{"attr" : {"class" : "form-control"}} ) }}
    </div>
    <div class="form-group">
      {{ form_label(form.apellido)}}
      {{ form_widget(form.apellido, {"attr" : {"class" : "form-control"}} )}}
    </div>
    <div class="form-group">
      {{ form_label(form.direccion) }}
      {{ form_widget(form.direccion, {"attr" : {"class" : "form-control"}} ) }}
    </div>
    <input type="submit" class="btn btn-primary" name="submit" value="Enviar" />
  {{ form_end(form) }}
</div>
{% endblock %}
