{% extends 'layout.twig' %}
{% block title %} DefaultController::index {% endblock %}

{% block closing_scripts %}
<script type="text/javascript" src="{{ app.request.basePath}}/js/script.js"></script>
{% endblock %}

{% block content %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Direccion</th>
        <th>Acciones</th>

      </tr>
    </thead>
    <tbody>
      {% for contacto in contactos %}
        <tr>
          <td>{{ contacto.idcontacto }}</td>
          <td>{{ contacto.nombre }}</td>
          <td>{{ contacto.apellido }}</td>
          <td>{{ contacto.direccion}}</td>
          <td>
            <a href="modificar/{{contacto.idcontacto}}"><button type="button" name="button" class="btn btn-xs btn-warning">Modificar</button></a>
            <button id="{{contacto.idcontacto}}" type="button" name="button" class="btn btn-xs btn-danger">Eliminar</button>
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock %}
